<div id="footer-nav">
    <a href="#s1">WebGL</a>
    <a href="#s2">Canvas</a>
    <a href="#s3">Animation</a>
    <a href="#s4">ThreeJs</a>
    <a href="#s5">Processing</a>
    <a href="#s6">P5Js</a>
    <a href="#s7">Gsap</a>
</div>