<ul id="headerContainer">
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">WebGL</a>
            <div class="dropdown-links">
                <a href="triangle" class="headerLinks">Triangle</a>
                <a href="spinTriangle" class="headerLinks">Spin-Triangle</a>
                <a href="cube" class="headerLinks">Cube</a>
                <a href="doubleSpinCube" class="headerLinks">2x Spin-Cube</a>
                <a href="texturedCube" class="headerLinks">Textured Cube</a>
            </div>
    </li>

    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">HTML5 Canvas</a>
            <div class="dropdown-links">
                <a href="TandP" class="headerLinks">T and P</a>
                <a href="canvasHouse" class="headerLinks">House</a>
                <a href="canvasHud" class="headerLinks">Hud</a>
            </div>
    </li>

    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Animation</a>
            <div class="dropdown-links">
                <a href="aniTandP" class="headerLinks">T and P</a>
            </div>
    </li>

    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">ThreeJs</a>
            <div class="dropdown-links">
                <a href="3jsSphere" class="headerLinks">Sphere</a>
                <a href="3jsBlocks" class="headerLinks">Blocks</a>
                <a href="3jsShapes" class="headerLinks">Shapes</a>
                <a href="3jsText" class="headerLinks">Text</a>
            </div>
    </li>

    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Processing</a>
            <div class="dropdown-links">
                <a href="proStars" class="headerLinks">Stars</a>
                <a href="proRubix" class="headerLinks">Rubix Cube</a>
            </div>
    </li>

    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">P5js</a>
            <div class="dropdown-links">
                <a href="p5Chipmunk" class="headerLinks">Chipmunk</a>
            </div>
    </li>

</ul>