<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/jsBlocksStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

    <title>ThreeJs Experimentations- Blocks</title>
</head>
<body>
    <ul id="headerContainer">
        <li><a href="../index.html">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">WebGL</a>
                <div class="dropdown-links">
                    <a href="./triangle.html" class="headerLinks">Triangle</a>
                    <a href="./spinTriangle.html" class="headerLinks">Spin-Triangle</a>
                    <a href="./cube.html" class="headerLinks">Cube</a>
                    <a href="./doubleSpinCube.html" class="headerLinks">2x Spin-Cube</a>
                    <a href="./texturedCube.html" class="headerLinks">Textured Cube</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">HTML5 Canvas</a>
                <div class="dropdown-links">
                    <a href="./TandP.html" class="headerLinks">T and P</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Animation</a>
                <div class="dropdown-links">
                    <a href="./aniTandP.html" class="headerLinks">T and P</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ThreeJs</a>
                <div class="dropdown-links">
                    <a href="./3jsSphere.html" class="headerLinks">Sphere</a>
                    <a href="./3jsShapes.html" class="headerLinks">Shapes</a>
                </div>
        </li>
    </ul>

</body>

<script src="../logic/jsBlocks.js"></script>

</html>