<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="/styles/3jsStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>

    <title>ThreeJs Experimentations- Blocks</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>

</body>

<script src="../logic/jsSphere.js"></script>

</html>