<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/TandPStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - Terrance and Phillip</title>
</head>
<body>
    <ul id="headerContainer">
        <li><a href="../index.html">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">WebGL</a>
                <div class="dropdown-links">
                    <a href="./triangle.html" class="headerLinks">Triangle</a>
                    <a href="./spinTriangle.html" class="headerLinks">Spin-Triangle</a>
                    <a href="./cube.html" class="headerLinks">Cube</a>
                    <a href="./doubleSpinCube.html" class="headerLinks">2X Spin-Cube</a>
                    <a href="./texturedCube.html" class="headerLinks">Textured Cube</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">HTML5 Canvas</a>
                <div class="dropdown-links">
                    <a href="./TandP.html" class="headerLinks">T and P</a>
                </div>
        </li>
    </ul>

    <div id="TandP-Buttons-Container">
        <button class="TandP-Buttons" onclick="Tfarting()"> <img id="TfartingButt" src="../images/canvas/T01.png"></button>
        <button class="TandP-Buttons" onclick="Pfarting()"> <img id="PfartingButt"  src="../images/canvas/P01.png"></button>
    </div>

    <img id="P01-image" src="../images/canvas/P01.png" ></img>
    <img id="T01-image" src="../images/canvas/T01.png" ></img>

</body>
    <script>
        var fart1 = new Audio();
        var fart2 = new Audio();

        fart1.src = "../sounds/dry-fart.mp3";
        fart2.src = "../sounds/wet-fart_1.mp3";

        function Tfarting () {
            var Tbutt = document.getElementById('TfartingButt');
            Tbutt.src = "../images/canvas/T-Fart-T.gif";
            var Pbutt = document.getElementById('PfartingButt');
            Pbutt.src = "../images/canvas/T-Fart-P.gif";
        }
        function Pfarting () {
            var Tbutt = document.getElementById('TfartingButt');
            Tbutt.src = "../images/canvas/P-Fart-T.gif";
            var Pbutt = document.getElementById('PfartingButt');
            Pbutt.src = "../images/canvas/P-Fart-P.gif";
        }
    </script>
</html>
