<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/canadaStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/CSSRulePlugin.min.js" integrity="sha512-6MT8e40N5u36Um5SXKtwZmoKcCSg1XaKtexnXZPpQ4iJDHrBEHXKz37fnDovXezsaCd4oKCH5Y+vrcl7qpLPoA==" crossorigin="anonymous"></script>
    <title>Gsap Experimentations - CanadaEh!</title>
</head>
<body>
    <div id="head-container">
    <%- include ('partials/_header.ejs') %>
    </div>

    <div class="content">

        <div id="left-side">
            <h1 id="left-text">New Text</h1>
            <button id="NTBTS-Btn"><img id="left-title-image" src="../images/CanadaStars/NTBTS.jpg" width="100%"></button>
        </div>

        <div id="canadaEh-main">
            <div id="main-content">
            <img id="canadaFlag" src="../images/CanadaFlag.png">
            <h1 class="titleText"><span>Canada Eh! </span></h1>
            <p class="subtitleText">Whats going on in the great white north?</p>
            </div>
        </div>

        <div id="right-side">
            <h1 id="right-text">Newer Text</h1>
        </div>
    
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Some text in the Modal..</p>
        </div>
      
    </div>

    <script src="../logic/gsapCanada.js"></script>
</body>
</html>
