<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/canvasStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script>
    <title>Canvas Experimentations - Walk</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
    <div class="walk-CanvasContainer">
        <canvas id="walkCanvas" width="900px" height="650px"></canvas>
    </div>

    <img id="welcomeBanner" src="../images/Welcome-Banner-Lg.png" style="display:none">

    <script src="../logic/amnsFrames.json"></script>
    <script src="../logic/canvasWalk.js"></script>
    <script src="../logic/canvasWalkSprite.js"></script>
</html>
