<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/canvasStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - Walk</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
    <div class="walk-CanvasContainer">
        <canvas id="walkCanvas" width="900px" height="650px"></canvas>
        </canvas>
    </div>

    <img src="../images/Welcome-Banner.png" style="display:none">

    <script src="../logic/canvasWalk.js"></script>
</html>
