<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/TandPStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - House</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
    <div class="TandP-CanvasContainer">
        <canvas id="houseCanvas" width="900px" height="650px"></canvas>
            Your Browser does not support HTML5
        </canvas>
    </div>
    <script src="../logic/canvas/houseLogic.js"></script>
    <script src="../logic/canvas/attic.js"></script>
    <script src="../logic/canvas/basement.js"></script>
    <script src="../logic/canvas/mainfloor.js"></script>
    <script src="../logic/canvas/outside.js"></script>
    <script src="../logic/canvas/secondfloor.js"></script>
</html>
