<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/canvasStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - FPS Hud</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
    <div id="hudContainer">
        <canvas id="hudCanvas" width="1400px" height="675px"></canvas>
            Your Browser does not support HTML5
        </canvas>
    </div>

    <img id="field" src="../images/field.jpg">

    <script src="../logic/canvas/hudLogic.js"></script>
    <script src="../logic/canvas/ammo.js"></script>
    <script src="../logic/canvas/ammoBars.js"></script>
    <script src="../logic/canvas/healthbar.js"></script>
    <script src="../logic/canvas/hudFrame.js"></script>
    <script src="../logic/canvas/hudFrameRed.js"></script>
    <script src="../logic/canvas/movebar.js"></script>
    <script src="../logic/canvas/radar.js"></script>
    <script src="../logic/canvas/rectile.js"></script>
    <script src="../logic/canvas/sensorbar.js"></script>
</html>
