<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/TandPStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - Terrance and Phillip</title>
</head>
<body>
    <ul id="headerContainer">
        <li><a href="../index.html">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">WebGL</a>
                <div class="dropdown-links">
                    <a href="./triangle.html" class="headerLinks">Triangle</a>
                    <a href="./spinTriangle.html" class="headerLinks">Spin-Triangle</a>
                    <a href="./cube.html" class="headerLinks">Cube</a>
                    <a href="./doubleSpinCube.html" class="headerLinks">2X Spin-Cube</a>
                    <a href="./texturedCube.html" class="headerLinks">Textured Cube</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">HTML5 Canvas</a>
            <a href="./TandP.html" class="headerLinks">TandP</a>
                <div class="dropdown-links">
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Animation</a>
                <div class="dropdown-links">
                    <a href="./aniTandP.html" class="headerLinks">T and P</a>
                </div>
        </li>
        
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ThreeJs</a>
                <div class="dropdown-links">
                    <a href="./3jsSphere.html" class="headerLinks">Sphere</a>
                    <a href="./3jsBlocks.html" class="headerLinks">Blocks</a>
                    <a href="./3jsShapes.html" class="headerLinks">Shapes</a>
                    <a href="./3jsText.html" class="headerLinks">Text</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Processing</a>
                <div class="dropdown-links">
                    <a href="./proStars.html" class="headerLinks">Stars</a>
                    <a href="./proRubix.html" class="headerLinks">Rubix Cube</a>
                </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">P5js</a>
                <div class="dropdown-links">
                    <a href="./p5Chipmunk.html" class="headerLinks">Chipmunk</a>
                </div>
        </li>
    </ul>

    <div class="hudContainer">
        <canvas id="hudCanvas" width="1400px" height="675px"></canvas>
            Your Browser does not support HTML5
        </canvas>
    </div>

    <img id="field" src="../images/field.jpg">

    <script src="../logic/canvas/ammo.js"></script>
    <script src="../logic/canvas/ammoBars.js"></script>
    <script src="../logic/canvas/healthbar.js"></script>
    <script src="../logic/canvas/hudFrame.js"></script>
    <script src="../logic/canvas/hudFrameRed.js"></script>
    <script src="../logic/canvas/movebar.js"></script>
    <script src="../logic/canvas/radar.js"></script>
    <script src="../logic/canvas/rectile.js"></script>
    <script src="../logic/canvas/sensorbar.js"></script>
</html>
