<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/gsapAMNS.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css" integrity="sha512-8M8By+q+SldLyFJbybaHoAPD6g07xyOcscIOQEypDzBS+sTde5d6mlK2ANIZPnSyxZUqJfCNuaIvjBUi8/RS0w==" crossorigin="anonymous" />
    <title>Gsap Experimentations - AMNS</title>
</head>
<body>
    <div id="head-container">
    <%- include ('partials/_header.ejs') %>
    </div>

    <main id="fullpage">
        <section class="section s1">
            <h1>Humans</h1>
            <div class="description">
                <h2>Quarantined Lifeform
                </h2>
                <p>Some of the most aggressive species known to existance. All consuming and destrucive, if not kept in check they could bring about the end of all life as we know it.
                </p>
            </div>
            <img class="sigil" src="../images/AMNS/HUMANS-SIGIL.png">
            <img class="avatar1" src="../images/AMNS/HUMANS-CO.png">
            <img class="avatar2" src="../images/AMNS/HUMANS-FO.png">
        </section>

        <section class="section s2">
            <h1>Neckot</h1>
            <div class="description">
                <h2>Free Lifeform
                </h2>
                <p>Very family oriented species, carrying their young with themselves until their young reach adolescene. When you deal with one, you actually deal with their whole family.
                </p>
            </div>
            <img class="sigil" src="../images/AMNS/NECKOT-SIGIL.png">
            <img class="avatar2B" src="../images/AMNS/NECKOT.png">
        </section>
        
        <section class="section s3">
            <h1>Tahog</h1>
            <div class="description">
                <h2>Free Lifeform
                </h2>
                <p>Very family oriented species, carrying their young with themselves until their young reach adolescene. When you deal with one, you actually deal with their whole family.
                </p>
            </div>
            <img class="sigil" src="../images/AMNS/TAHOG-SIGIL.png">
            <img class="avatar1" src="../images/AMNS/TAHOG.png">
        </section>

    </main>
    <script src="../logic/fullpage.min.js"></script>
    <script src="../logic/gsapAMNS.js"></script>
</body>
</html>
