<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/gsapAMNS.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Gsap Experimentations - AMNS</title>
</head>
<body>
    <div id="head-container">
    <%- include ('partials/_header.ejs') %>
    </div>

    <main id="amns-content">
        <div id="amns-container-left-human">
            <img class="amns-avatars-left" src="../images/AMNS/HUMANS-CO.png">
        </div>

        <div id="amns-container-right-neckot">
            <img class="amns-avatars-right" src="../images/AMNS/NECKOT.png">
        </div>

        <div id="amns-container-left-dabid">
            <img class="amns-avatars-left" src="../images/AMNS/DABID.png">
        </div>

        <div id="amns-container-right-valsect">
            <img class="amns-avatars-right" src="../images/AMNS/VALSECT.png">
        </div>

        <div class="amns-container-left-tahog">
            <img class="amns-avatars-left" src="../images/AMNS/TAHOG.png">
        </div> 
        
        <div class="amns-container-right-sapise">
            <img class="amns-avatars-right" src="../images/AMNS/SAPISE.png">
        </div>

        <div class="amns-container-left-yellsom">
            <img class="amns-avatars-left" src="../images/AMNS/YELLSOM.png">
        </div>
        
        <div class="amns-container-right-rashar">
            <img class="amns-avatars-right" src="../images/AMNS/RASHAR.png">
        </div>

    </main>

    <script src="../logic/gsapHamburgers.js"></script>
</body>
</html>
