<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/canvasStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Gsap Experimentations - Hamburgers</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>

    <main>
        <div class="content">
            <h1 class="anim1"><span>Who is in the wrong</span><span>with this lunch plan?</span></h1>
            <p class="anim1">Do we really know what is going on between that set of buns?</p>
            <a class="anim1" href="#" id="cta">Lets Take a Look</a>
        </div>
    </main>

    <aside>
        <img src="../images/Hamburgers - Cow Eating.png">
    </aside>

    <script src="../logic/canvasWalk.js"></script>
</html>
