<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/gsapStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Gsap Experimentations - AMNS</title>
</head>
<body>
    <div id="head-container">
    <%- include ('partials/_header.ejs') %>
    </div>

    <div class="content">
        <main id="amns-main-left">
            <div class="amns-container-left">
                <img class="amns-sigil" src="../images/AMNS/HUMANS-SIGIL.png">
                <div class="amns-content">
                    <img class="amns-avatars" src="../images/AMNS/HUMANS-CO.png">
                    <img class="amns-avatars" src="../images/AMNS/HUMANS-FO.png">
                </div>
            </div>
            <div class="amns-container-left">
                <img class="amns-sigil" src="../images/AMNS/DABID-SIGIL.png">
                <div class="amns-content">
                    <img class="amns-avatars" src="../images/AMNS/DABID.png">
                </div>
            </div>
        </main>
        <main id="amns-main-right">
            <div class="amns-container-right">
                <img class="amns-sigil" src="../images/AMNS/NECKOT-SIGIL.png">
                <div class="amns-content">
                    <img class="amns-avatars" src="../images/AMNS/NECKOT.png">
                </div>
            </div>
            <div class="amns-container-right">
                <img class="amns-sigil" src="../images/AMNS/VALSECT-SIGIL.png">
                <div class="amns-content">
                    <img class="amns-avatars" src="../images/AMNS/VALSECT.png">
                </div>
            </div>
        </main>
    </div>

    <script src="../logic/gsapHamburgers.js"></script>
</body>
</html>
