<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/gsapStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Gsap Experimentations - AMNS</title>
</head>
<body>
    <div id="head-container">
    <%- include ('partials/_header.ejs') %>
    </div>

    <div class="content">
        <main>
            <div class="gsap-content">
                <img src="../images/AMNS/HUMANS-SIGL.png">
                <img src="../images/AMNS/HUMANS-CO.png">
                <img src="../images/AMNS/HUMANS-FO.png">
            </div>
        </main>
    </div>

    <script src="../logic/gsapHamburgers.js"></script>
</body>
</html>
