<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/gsapAMNS.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Gsap Experimentations - AMNS</title>
</head>
<body>
    <div id="head-container">
    <%- include ('partials/_header.ejs') %>
    </div>

    <main id="amns-content">
        <div id="amns-container-left">
            <img class="amns-sigil" src="../images/AMNS/HUMANS-SIGIL.png">
            <img class="amns-avatars" src="../images/AMNS/HUMANS-CO.png">
            <img class="amns-avatars" src="../images/AMNS/HUMANS-FO.png">
        </div>

        <div id="amns-container-right-neckot">
            <img class="amns-avatars-right" src="../images/AMNS/NECKOT.png">
        </div>
    </main>

    <script src="../logic/gsapHamburgers.js"></script>
</body>
</html>
