<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/indexStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="/images/pngegg.png">
    <title>MiFy</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
</body>
<script>

</script>
</html>
