<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/indexStyles.css" type="text/css" />
    
    <title>MiFy</title>
</head>
<body>
    <%- include ('partials/_indexheader.ejs') %>
</body>
<script>

</script>
</html>
