<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js" integrity="sha512-WIklPM6qPCIp6d3fSSr90j+1unQHUOoWDS4sdTiR8gxUTnyZ8S2Mr8e10sKKJ/bhJgpAa/qG068RDkg6fIlNFA==" crossorigin="anonymous"></script>
    <title>P5JS Experimentations - Chipmunk SpriteSheet</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
</body>
<script src="../logic/chipmunkFrames.json"></script>
<script src="../logic/p5Chipmunk.js"></script>
<script src="../logic/p5ChipmunkSprite.js"></script>

</html>