<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/proStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.0/processing.min.js"></script>
    <title>Processing Experimentations - Rubix Cube</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>
    <div class="pro-canvasContainer">
        <canvas id="pro-rubix-canvas" data-processing-sources="../logic/proRubix.pde" height="800">
            Your Browser does not support HTML5
        </canvas>
    </div>

    <br />
    <i>Demo is above this text, using Processing. Library PeasyCam installed.</i>
</body>

</html>
