<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.0/processing.min.js"></script>
    <title>Processing Experimentations - Stars</title>
</head>
<body>
    <ul id="headerContainer">
        <li><a href="../index.html">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">WebGL</a>
                <div class="dropdown-links">
                    <a href="./triangle.html" class="headerLinks">Triangle</a>
                    <a href="./spinTriangle.html" class="headerLinks">Spin-Triangle</a>
                    <a href="./cube.html" class="headerLinks">Cube</a>
                    <a href="./doubleSpinCube.html" class="headerLinks">2x Spin-Cube</a>
                    <a href="./texturedCube.html" class="headerLinks">Textured Cube</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">HTML5 Canvas</a>
                <div class="dropdown-links">
                    <a href="./TandP.html" class="headerLinks">T and P</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Animation</a>
                <div class="dropdown-links">
                    <a href="./aniTandP.html" class="headerLinks">T and P</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ThreeJs</a>
                <div class="dropdown-links">
                    <a href="./3jsSphere.html" class="headerLinks">Sphere</a>
                    <a href="./3jsBlocks.html" class="headerLinks">Blocks</a>
                    <a href="./3jsShapes.html" class="headerLinks">Shapes</a>
                    <a href="./3jsText.html" class="headerLinks">Text</a>
                </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Processing</a>
                <div class="dropdown-links">
                    <a href="./proRubix.html" class="headerLinks">Rubix Cube</a>
                </div>
        </li>
    </ul>

    <div class="pro-canvasContainer">
        <canvas id="pro-stars-canvas" data-processing-sources="../logic/proStars.pde" height="800">
            Your Browser does not support HTML5
        </canvas>
    </div>

    <br />
    <i>Demo is above this text, using Processing</i>
</body>

</html>
