<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - Camera</title>
</head>
<body>
    <%- include ('partials/_header.ejs') %>

    <script src="../logic/canvasCamera.js"></script>
</html>
