<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/sandboxStyles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - Camera</title>
</head>
<body>
    <%- include ('partials/_sandboxHeader.ejs') %>

    <section id="s1" class="section s1">
        <h1>This is an H1 tag for this section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequuntur iste accusantium modi, tempore autem similique rerum tenetur facilis quis consectetur tempora reprehenderit accusamus placeat maxime assumenda vel magnam veritatis.</p>
        <canvas class="section-canvas" id="section-s1-canvas" height="575" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s2" class="section s2">
        <h1>This is an H1 tag for this section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequuntur iste accusantium modi, tempore autem similique rerum tenetur facilis quis consectetur tempora reprehenderit accusamus placeat maxime assumenda vel magnam veritatis.</p>
        <canvas class="section-canvas" id="section-s2-canvas" height="575" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s3" class="section s3">
        <h1>This is an H1 tag for this section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequuntur iste accusantium modi, tempore autem similique rerum tenetur facilis quis consectetur tempora reprehenderit accusamus placeat maxime assumenda vel magnam veritatis.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="575" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s4" class="section s4">
        <h1>This is an H1 tag for this section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequuntur iste accusantium modi, tempore autem similique rerum tenetur facilis quis consectetur tempora reprehenderit accusamus placeat maxime assumenda vel magnam veritatis.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="575" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s5" class="section s5">
        <h1>This is an H1 tag for this section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequuntur iste accusantium modi, tempore autem similique rerum tenetur facilis quis consectetur tempora reprehenderit accusamus placeat maxime assumenda vel magnam veritatis.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="575" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s6" class="section s6">
        <h1>This is an H1 tag for this section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequuntur iste accusantium modi, tempore autem similique rerum tenetur facilis quis consectetur tempora reprehenderit accusamus placeat maxime assumenda vel magnam veritatis.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="575" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s7" class="section s7">
        <h1>This is an H1 tag for this section</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequuntur iste accusantium modi, tempore autem similique rerum tenetur facilis quis consectetur tempora reprehenderit accusamus placeat maxime assumenda vel magnam veritatis.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="575" width="900" style="border: 1px solid #000000"></canvas>
    </section>
    
    <%- include ('partials/_footer.ejs') %>
    <script src="../logic/sandboxLogic.js"></script>
</body>
</html>
