<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/sandboxStyles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.9/fullpage.min.css" integrity="sha512-8M8By+q+SldLyFJbybaHoAPD6g07xyOcscIOQEypDzBS+sTde5d6mlK2ANIZPnSyxZUqJfCNuaIvjBUi8/RS0w==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - Camera</title>
</head>
<body>
    <%- include ('partials/_sandboxHeader.ejs') %>

    <section id="s1" class="section s1">
        <h1 class="section-header">WebGL</h1>
        <p>WebGL examples include: Triangle, Spinning Triangle, Spinning Cube, 2X Spinning Cube and Textured Cube.</p>
        <canvas class="section-canvas" id="section-s1-canvas" height="600" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s2" class="section s2">
        <h1 class="section-header">Canvas</h1>
        <p>HTML5 Canvas examples include House, Hud and Walk.</p>
        <canvas class="section-canvas" id="section-s2-canvas" height="600" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s3" class="section s3">
        <h1 class="section-header">Animation</h1>
        <p>Animation examples include Terrance and Phillip.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="600" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s4" class="section s4">
        <h1 class="section-header">ThreeJs</h1>
        <p>ThreeJs examples include Spheres, Blocks, Shapes and Text.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="600" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s5" class="section s5">
        <h1 class="section-header">Processing</h1>
        <p>Processing examples include Space Travel Stars and Rubix Cube.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="600" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s6" class="section s6">
        <h1 class="section-header">P5js</h1>
        <p>P5 examples include Chipmunks.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="600" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <section id="s7" class="section s7">
        <h1 class="section-header">Gsap</h1>
        <p>Gsap examples include AMNS species cards and Hamburgers.</p>
        <canvas class="section-canvas" id="section-s3-canvas" height="600" width="900" style="border: 1px solid #000000"></canvas>
    </section>

    <%- include ('partials/_footer.ejs') %>
    <script src="../logic/sandboxLogic.js"></script>
</body>
</html>
