<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/sandboxStyles.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r79/three.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.6.0/processing.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - Camera</title>
</head>
<body>
    <%- include ('partials/_sandboxHeader.ejs') %>
<main id="preview">
    <section id="s1" class="section s1">
        <h1 class="section-header">WebGL</h1>
        <p>WebGL examples include: Triangle, Spinning Triangle, Spinning Cube, 2X Spinning Cube and Textured Cube.</p>
        <canvas class="section-canvas" id="section-s1-canvas" height="600" width="900"></canvas>
    </section>

    <section id="s2" class="section s2">
        <h1 class="section-header">Canvas</h1>
        <p>HTML5 Canvas examples include House, Hud and Walk.</p>
        <canvas class="section-canvas" id="section-s2-canvas" height="600" width="900"></canvas>
    </section>

    <section id="s3" class="section s3">
        <h1 class="section-header">Animation</h1>
        <p>Animation examples include Terrance and Phillip.</p>
        <div class="section-div">
            <button class="TandP-Buttons" onclick="Tfarting(); newFart.play()"> <img id="TfartingButt" src="../images/canvas/T01.png"></button>
            <button class="TandP-Buttons" onclick="Pfarting(); newFart.play()"> <img id="PfartingButt"  src="../images/canvas/P01.png"></button>
        </div>
    </section>

    <section id="s4" class="section s4">
        <h1 class="section-header">ThreeJs</h1>
        <p>ThreeJs examples include Spheres, Blocks, Shapes and Text.</p>
        <canvas class="section-canvas" id="section-s4-canvas" height="600" width="900"></canvas>
    </section>

    <section id="s5" class="section s5">
        <h1 class="section-header">Processing</h1>
        <p>Processing examples include Space Travel Stars and Rubix Cube.</p>
        <canvas class="section-canvas" id="section-s5-canvas" data-processing-sources="../logic/proStars.pde" height="600" width="900"></canvas>
    </section>

    <section id="s6" class="section s6">
        <h1 class="section-header">P5js</h1>
        <p>P5 examples include Chipmunks.</p>
        <canvas class="section-canvas" id="section-s6-canvas" height="600" width="900"></canvas>
    </section>

    <section id="s7" class="section s7">
        <h1 class="section-header">Gsap</h1>
        <p>Gsap examples include AMNS species cards and Hamburgers.</p>
        <canvas class="section-canvas" id="section-s7-canvas" height="600" width="900"></canvas>
    </section>
</main>

<img id="P01-image" src="../images/canvas/P01.png" ></img>
<img id="T01-image" src="../images/canvas/T01.png" ></img>

    <%- include ('partials/_footer.ejs') %>

    <!-- WebGl -->
    <script src="../logic/gl-matrix.js"></script>
    <!-- Fullpage -->
    <script src="../logic/fullpage.min.js"></script>
    <!-- Index -->
    <script src="../logic/sandboxLogic.js"></script>
</body>
</html>
