<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>WebGL Experimentations - Spin Triangle</title>
</head>
<body onload="InitDemo ()">
    <ul id="headerContainer">
        <li><a href="../index.html">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">WebGL</a>
                <div class="dropdown-links">
                    <a href="./triangle.html" class="headerLinks">Triangle</a>
                    <a href="./cube.html" class="headerLinks">Cube</a>
                    <a href="./doubleSpinCube.html" class="headerLinks">2X Spin-Cube</a>
                    <a href="./texturedCube.html" class="headerLinks">Textured Cube</a>
                </div>
        </li>
    </ul>

    <div class="canvasContainer">
        <canvas id="spin-triangle-canvas" width="800" height="600">
            Your Browser does not support HTML5
        </canvas>
    </div>

    <br />
    <i>Demo is above this text, using glMatrix</i>
</body>
    <script src="../logic/spinTriangle.js"></script>
    <script src="../logic/gl-matrix.js"></script>
</html>
