<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>WebGL Experimentations - Spin Triangle</title>
</head>
<body onload="InitDemo ()">
    <div id="headerContainer">
        <a href="../index.html" class="headerLinks">Home</a>
        <a href="./triangle.html" class="headerLinks">Triangle</a>
        <a href="./cube.html" class="headerLinks">Cube</a>
    </div>

    <div class="canvasContainer">
        <canvas id="spin-triangle-canvas" width="800" height="600">
            Your Browser does not support HTML5
        </canvas>
    </div>

    <br />
    <i>Demo is above this text, using glMatrix</i>
</body>
    <script src="../logic/spinTriangle.js"></script>
    <script src="../logic/gl-matrix.js"></script>
</html>
