<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="stylesheet" href="../styles/TandPStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>Canvas Experimentations - Terrance and Phillip</title>
</head>
<body>
    <ul id="headerContainer">
        <li><a href="../index.html">Home</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">WebGL</a>
                <div class="dropdown-links">
                    <a href="./triangle.html" class="headerLinks">Triangle</a>
                    <a href="./spinTriangle.html" class="headerLinks">Spin-Triangle</a>
                    <a href="./cube.html" class="headerLinks">Cube</a>
                    <a href="./doubleSpinCube.html" class="headerLinks">2X Spin-Cube</a>
                    <a href="./texturedCube.html" class="headerLinks">Textured Cube</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">HTML5 Canvas</a>
                <div class="dropdown-links">
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Animation</a>
                <div class="dropdown-links">
                    <a href="./aniTandP.html" class="headerLinks">T and P</a>
                </div>
        </li>
        
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">ThreeJs</a>
                <div class="dropdown-links">
                    <a href="./3jsSphere.html" class="headerLinks">Sphere</a>
                    <a href="./3jsBlocks.html" class="headerLinks">Blocks</a>
                    <a href="./3jsShapes.html" class="headerLinks">Shapes</a>
                    <a href="./3jsText.html" class="headerLinks">Text</a>
                </div>
        </li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Processing</a>
                <div class="dropdown-links">
                    <a href="./proStars.html" class="headerLinks">Stars</a>
                    <a href="./proRubix.html" class="headerLinks">Rubix Cube</a>
                </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">P5js</a>
                <div class="dropdown-links">
                    <a href="./p5Chipmunk.html" class="headerLinks">Chipmunk</a>
                </div>
        </li>
    </ul>

    <div class="TandP-CanvasContainer">
        <canvas id="TandP-canvas" width="800" height="600">
            Your Browser does not support HTML5
        </canvas>
    </div>

    <img id="P01-image" src="../images/canvas/P01.png" ></img>
    <img id="T01-image" src="../images/canvas/T01.png" ></img>

    <img class="fartFrames" id="T1-fart" src="../images/canvas/TFartFrames/T---Fart-T1.png" ></img>
    <img class="fartFrames" id="T2-fart" src="../images/canvas/TFartFrames/T---Fart-T2.png" ></img>
    <img class="fartFrames" id="T3-fart" src="../images/canvas/TFartFrames/T---Fart-T3.png" ></img>
    <img class="fartFrames" id="T4-fart" src="../images/canvas/TFartFrames/T---Fart-T4.png" ></img>
    <img class="fartFrames" id="T5-fart" src="../images/canvas/TFartFrames/T---Fart-T5.png" ></img>
    <img class="fartFrames" id="T6-fart" src="../images/canvas/TFartFrames/T---Fart-T6.png" ></img>
    <img class="fartFrames" id="T7-fart" src="../images/canvas/TFartFrames/T---Fart-T7.png" ></img>
    <img class="fartFrames" id="T8-fart" src="../images/canvas/TFartFrames/T---Fart-T8.png" ></img>
    <img class="fartFrames" id="T9-fart" src="../images/canvas/TFartFrames/T---Fart-T9.png" ></img>
    <img class="fartFrames" id="T10-fart" src="../images/canvas/TFartFrames/T---Fart-T10.png" ></img>
    <img class="fartFrames" id="T11-fart" src="../images/canvas/TFartFrames/T---Fart-T11.png" ></img>
    <img class="fartFrames" id="T12-fart" src="../images/canvas/TFartFrames/T---Fart-T12.png" ></img>
    <img class="fartFrames" id="T13-fart" src="../images/canvas/TFartFrames/T---Fart-T13.png" ></img>
    <img class="fartFrames" id="P1-fart" src="../images/canvas/TFartFrames/T---Fart-P1.png" ></img>
    <img class="fartFrames" id="P2-fart" src="../images/canvas/TFartFrames/T---Fart-P2.png" ></img>
    <img class="fartFrames" id="P3-fart" src="../images/canvas/TFartFrames/T---Fart-P3.png" ></img>
    <img class="fartFrames" id="P4-fart" src="../images/canvas/TFartFrames/T---Fart-P4.png" ></img>
    <img class="fartFrames" id="P5-fart" src="../images/canvas/TFartFrames/T---Fart-P5.png" ></img>
    <img class="fartFrames" id="P6-fart" src="../images/canvas/TFartFrames/T---Fart-P6.png" ></img>
    <img class="fartFrames" id="P7-fart" src="../images/canvas/TFartFrames/T---Fart-P7.png" ></img>
    <img class="fartFrames" id="P8-fart" src="../images/canvas/TFartFrames/T---Fart-P8.png" ></img>
    <img class="fartFrames" id="P9-fart" src="../images/canvas/TFartFrames/T---Fart-P9.png" ></img>
    <img class="fartFrames" id="P10-fart" src="../images/canvas/TFartFrames/T---Fart-P10.png" ></img>
    <img class="fartFrames" id="P11-fart" src="../images/canvas/TFartFrames/T---Fart-P11.png" ></img>
    <img class="fartFrames" id="P12-fart" src="../images/canvas/TFartFrames/T---Fart-P12.png" ></img>
    <img class="fartFrames" id="P13-fart" src="../images/canvas/TFartFrames/T---Fart-P13.png" ></img>

    <img class="fartFrames" id="T1-fart2" src="../images/canvas/PFartFrames/P---Fart-T1.png" ></img>
    <img class="fartFrames" id="T2-fart2" src="../images/canvas/PFartFrames/P---Fart-T2.png" ></img>
    <img class="fartFrames" id="T3-fart2" src="../images/canvas/PFartFrames/P---Fart-T3.png" ></img>
    <img class="fartFrames" id="T4-fart2" src="../images/canvas/PFartFrames/P---Fart-T4.png" ></img>
    <img class="fartFrames" id="T5-fart2" src="../images/canvas/PFartFrames/P---Fart-T5.png" ></img>
    <img class="fartFrames" id="T6-fart2" src="../images/canvas/PFartFrames/P---Fart-T6.png" ></img>
    <img class="fartFrames" id="T7-fart2" src="../images/canvas/PFartFrames/P---Fart-T7.png" ></img>
    <img class="fartFrames" id="T8-fart2" src="../images/canvas/PFartFrames/P---Fart-T8.png" ></img>
    <img class="fartFrames" id="T9-fart2" src="../images/canvas/PFartFrames/P---Fart-T9.png" ></img>
    <img class="fartFrames" id="T10-fart2" src="../images/canvas/PFartFrames/P---Fart-T10.png" ></img>
    <img class="fartFrames" id="T11-fart2" src="../images/canvas/PFartFrames/P---Fart-T11.png" ></img>
    <img class="fartFrames" id="T12-fart2" src="../images/canvas/PFartFrames/P---Fart-T12.png" ></img>
    <img class="fartFrames" id="T13-fart2" src="../images/canvas/PFartFrames/P---Fart-T13.png" ></img>
    <img class="fartFrames" id="P1-fart2" src="../images/canvas/PFartFrames/P---Fart-P1.png" ></img>
    <img class="fartFrames" id="P2-fart2" src="../images/canvas/PFartFrames/P---Fart-P2.png" ></img>
    <img class="fartFrames" id="P3-fart2" src="../images/canvas/PFartFrames/P---Fart-P3.png" ></img>
    <img class="fartFrames" id="P4-fart2" src="../images/canvas/PFartFrames/P---Fart-P4.png" ></img>
    <img class="fartFrames" id="P5-fart2" src="../images/canvas/PFartFrames/P---Fart-P5.png" ></img>
    <img class="fartFrames" id="P6-fart2" src="../images/canvas/PFartFrames/P---Fart-P6.png" ></img>
    <img class="fartFrames" id="P7-fart2" src="../images/canvas/PFartFrames/P---Fart-P7.png" ></img>
    <img class="fartFrames" id="P8-fart2" src="../images/canvas/PFartFrames/P---Fart-P8.png" ></img>
    <img class="fartFrames" id="P9-fart2" src="../images/canvas/PFartFrames/P---Fart-P9.png" ></img>
    <img class="fartFrames" id="P10-fart2" src="../images/canvas/PFartFrames/P---Fart-P10.png" ></img>
    <img class="fartFrames" id="P11-fart2" src="../images/canvas/PFartFrames/P---Fart-P11.png" ></img>
    <img class="fartFrames" id="P12-fart2" src="../images/canvas/PFartFrames/P---Fart-P12.png" ></img>
    <img class="fartFrames" id="P13-fart2" src="../images/canvas/PFartFrames/P---Fart-P13.png" ></img>
</body>
    <script src="../logic/canvas/TandP.js"></script>
</html>
