<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../styles/indexStyles.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="../images/pngegg.png">
    <title>WebGL Experimentations - Textured Cube</title>
</head>
<body onload="InitDemo ()">
    <%- include ('partials/_header.ejs') %>

    <div class="canvasContainer">
        <canvas id="textured-cube-canvas" width="800" height="600">
            Your Browser does not support HTML5
        </canvas>
    </div>

    <br />
    <i>Demo is above this text</i>
    <img id="crate-image" src="../images/wooden-crate.png" width="0" height="0"></img>
</body>
    <script src="../logic/texturedCubeApp.js"></script>
    <script src="../logic/gl-matrix.js"></script>
</html>
