.content {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Montserrat';
}

h1 {
    font-size: 3em;
    position: relative;
}

#canadaEh-main {
    width: 60%;
}

#left-side{
    width: 20%; 
    height: 100%;   
    float: left;
    background-color: blue;
}

#right-side{
    width: 20%;
    height: 100%;
    float: right;
    background-color: red;
}