h1 {
    font-size: 3em;
    font-family: 'Montserrat';
    position: relative;
}

#canadaEh-main {
    width: 60%;
    height: 100vh; 
    float: left;
    text-align: center;
}

#canadaFlag{
    margin-top: 100px;
    width: 150px;
    height: 150px;
}

#left-side{
    width: 20%; 
    height: 100vh;
    float: left;
    background-color: #FF0000;
    text-align: center;
}

#left-title-image{
}

#right-side{
    width: 20%;
    height: 100vh;
    float: right;
    background-color: #FF0000;
}