#hudContainer{
    cursor: none;
    text-align:center;
    margin: 30px auto;
    border: 5px solid white;
    background-color:black;
    border-radius:25px;
    width:90%vw;
    height:675px;
}

#hudCanvas{
    margin:0px auto;
    display:inline-block;
    border-radius:25px;
}

#field{
    display: none;
}

.TandP-CanvasContainer{
    margin: 40px auto 10px auto;
    width: 800px;
}

#P01-image{
    display:none;
}

#T01-image{
    display:none;
}

.fartFrames{
    display:none;
}

#TandP-Buttons-Container{
    margin: 40px auto 10px auto;
    width: 800px;
}

.TandP-Buttons{
    background-color: transparent;
    border-style: none;
    outline: none;
}