#amns-content {
    height: 100%;
    margin: 100px 10%;
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Montserrat';
}

#amns-container-left{
    text-align: center;
    width: 220px;
    height: 200px;
}

#amns-container-left-human{
    background-image: url('../images/AMNS/HUMANS-SIGIL.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    width: 220px;
    height: 220px;
}

#amns-container-left-dabid{
    background-image: url('../images/AMNS/DABID-SIGIL.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    width: 220px;
    height: 220px;
}

#amns-container-left-tahog{
    background-image: url('../images/AMNS/TAHOG-SIGIL.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    width: 220px;
    height: 220px;
}

#amns-container-left-yellsom{
    background-image: url('../images/AMNS/YELLSOM-SIGIL.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    width: 220px;
    height: 220px;
}

#amns-container-right-neckot{
    background-image: url('../images/AMNS/NECKOT-SIGIL.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    width: 220px;
    height: 220px;
}

#amns-container-right-valsect{
    background-image: url('../images/AMNS/VALSECT-SIGIL.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    width: 220px;
    height: 220px;
}

#amns-container-right-sapise{
    background-image: url('../images/AMNS/SAPISE-SIGIL.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    width: 220px;
    height: 220px;
}

#amns-container-right-rashar{
    background-image: url('../images/AMNS/RASHAR-SIGIL.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    width: 220px;
    height: 220px;
}

.amns-sigil{
    margin: -50px auto;
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.amns-avatars-right{
    margin: 80px 140px;
    height: 300px;
    width: 300px;
}

.amns-avatars-left{
    margin: 80px 140px;
    height: 300px;
    width: 300px;
}