.content {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto 60%;
    font-family: 'Montserrat';
}

*, *:before, *:after {
    box-sizing: border-box;
}

.line {
    position: absolute;
}

#hamburgers-main {
    margin-left: 20%;
    height: 100vh;
    display: grid;
    place-content: center;
}

.gsap-content {
    width: 70%;
}

h1 {
    font-size: 3em;
    position: relative;
}

span {
    display: block;
}

        
p {
    font-size: 1.2em;
    width: 80%;
    line-height: 1.7em;
    margin-bottom: 2em;
}

#hamburgers-aside {
    background-image: url('../images/Hamburgers - Pig Eating 02.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#CowEating {
    width: 60%;
    position: fixed;
    right: 0;
    bottom: 0;
}

#cta{
    display: inline-block;
    background: #ed9121;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em;
}
