.content {
    height: 100%;
    margin: auto 0px;
    display: grid;
    grid-template-columns: auto 60%;
    font-family: 'Montserrat';
}

.amns-container-left{
    text-align: center;
}

#amns-main-left {
    margin-left: 20%;
    height: 100vh;
    display: grid;
    place-content: center;
}

#amns-main-right {
    margin-right: 20%;
    height: 100vh;
    display: grid;
    place-content: center;
}

.amns-sigil{
    margin: -50px auto;
    width: 150px;
    height: 150px;
    border-radius: 25px;
}

.amns-content{
    width: 210px;
}

.amns-avatars{
    height: 200px;
    width: 200px;
}