body{
    margin: 0;
    height: 100vh;
}

#headerContainer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #404040;
    display: flex;
    justify-content: center;
}

.canvasContainer{
    margin: 40px auto 10px auto;
    width: 800px;
}

li {
    margin: auto;
    float: left;
}

li a, .headerLinks, .dropbtn {
    display: inline-block;
    color: #D3D3D3;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.dropdown {
    display: inline-block;
}

.dropdown-links {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-links a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-links {
    display: block;
  }

.pro-canvasContainer{
    display:block;
    text-align: center;
}

.pro-stars-canvas{
    margin: 0px auto;
}

#ThreeJsInputContainer{
    position: absolute;
    bottom: 100px;
    width: 80%;
    margin: 0px 10%;
}

#ThreeJsInput{
    width : 80%;
    height: 50px;
    outline: none;
    font-size: 40px;
}

#ThreeJsButton{
    width : 17%;
    height: 55px;
    font-size: 40px;
}

#hudContainer{
    cursor: none;
    text-align:center;
    margin: 30px auto;
    border: 5px solid white;
    background-color:black;
    border-radius:25px;
    width:90%vw;
    height:675px;
}

#hudCanvas{
    margin:0px auto;
    display:inline-block;
    border-radius:25px;
}

#field{
    display: none;
}