body {
    margin: 0;
}

ul{
    display: none;
}

p{
    width: 80%;
}

#title{
    font-size: 32px;
    font-family: "Montserrat";
    color: #D3D3D3;
    text-decoration: none;
    float: left;
}

#headerContainer{
    width: 100vw;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #404040;
}

.section-header{
    font-size: 32px;
    font-family: "Montserrat";
    color: #000000;
}


.section-canvas{
    margin-left: 10%;
    border: 1px solid;
    border-color: #000000;
    width: 70%;
    height: 60%;
}

#footer-nav{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

#footer-nav a{
    font-family: "Montserrat";
    color: #404040;
    text-decoration: none;
    margin: auto;
}
/* Animation Styles */
.section-div{
    margin-left: 2vw;
    border-color: transparent;
    width: 70%;
    height: 60%;
    display:flex;
    justify-content: space-evenly;
}

.TandP-Buttons{
    background-color: transparent;
    border-style: none;
    outline: none;
    width: 40%;
    height: 40%;
}

#P01-image{
    display:none;
}

#T01-image{
    display:none;
}

#TfartingButt{
    width: 260px;
    height: 450px;
}

#PfartingButt{
    width: 260px;
    height: 450px;
}
