body {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 20px;
}

ul{
    display: none;
}

#title{
    font-size: 32px;
    font-family: "Montserrat";
    color: #D3D3D3;
    text-decoration: none;
    float: left;
}

#headerContainer{
    width: 100vw;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #404040;
}

.section-header{
    font-size: 32px;
    font-family: "Montserrat";
    color: #000000;
}


.section-canvas{
    margin-left: 100px;
}

#footer-nav{
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
}

#footer-nav a{
    font-family: "Montserrat";
    color: #404040;
    text-decoration: none;
    margin: auto;
}
