#headerContainer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: grey;
    width: 100vw;
}

.headerLinks{
 text-decoration: none;   
 color: black;
 font-size: 24px;
}

.canvasContainer{
    margin: 40px auto 10px auto;
    width: 800px;
}